# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython2.7
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython3.6
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython3.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython2.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython3.6
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "nweLm+iqVUNanR6nzDulPucpoo35HxCpRCbRwlKZKLSItzTAWH5VKxmGXkcG+krbneNqmjIBj84KPnuhvtMoMzj1NqEm/RyU+ETYFoX39J9UAg6OC4gqTRfAGTi/+pm3ocDliGp1yQeG4UrRKMJ0HFQzHmzO7WBtNW1iYEqVoHPCo/O5RnMvfwwD5T+lzIhEB68eKIu7aakkEgHOJ3ee2gNjSweonw0vUf5HPW2ekJlfd5P0q+Rn0YSI5iQQg6yUsp6CmiXb1so9v6WNwF08h2pQWP3b9EhN5oFscEyfUrm6nxWGseRNzB1Z50OymW7p4los36RsswZEf7QzQSBRcb79tLj2jx9iQAWsGCLihGSb5tdP7bTcgW5NbqNXk49btkHbVRnW0S2NIFeyfro9zYjFwLJhHldCrd6/sEHL37PqaPkczrh7zUP8D7Gekvt+3Z2hjHm1K0D2m7GUPvj1fM60i6mitBTXF7+YsED3s/Mp9zNfTiJcD1+eMWWe0U3qkTBX93ujAC2y/8xixry+zEHYdDALg0VzNIXOc+wO4C2G8Rqa0omdR/FB+eq4QD8i44GWG8i6EozWKnC4mUHNNWOgvwM/k1GVUdRxWIgNpCsVPyCZG6qyBuAQGfBDSLUBL/vO/I7MIVB5UL56mqfJp1RRe6FwY+VBc/X2fcob71k="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
